/*
Syntax error: File to import not found or unreadable: foundation.
              Load paths:
                /home/irvin/git/todowiwi/scss
                /var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/blueprint/stylesheets
                /var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets
                /home/irvin/git/todowiwi/bower_components/foundation/scss
                Compass::SpriteImporter
        on line 2 of /home/irvin/git/todowiwi/scss/app.scss

1: /home/irvin/git/todowiwi/scss/app.scss

Backtrace:
/home/irvin/git/todowiwi/scss/app.scss:2
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/compiler.rb:138:in `block in compile'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/logger.rb:45:in `red'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/compiler.rb:137:in `compile'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/compiler.rb:118:in `compile_if_required'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `each'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `block in run'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/compiler.rb:100:in `run'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/commands/watch_project.rb:147:in `recompile'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:31:in `create'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:26:in `block in created'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `each'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `created'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:17:in `refresh'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/var/lib/gems/1.9.1/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/commands/watch_project.rb:87:in `perform'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.9.1/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.9.1/gems/compass-0.12.7/bin/compass:30:in `block in <top (required)>'
/var/lib/gems/1.9.1/gems/compass-0.12.7/bin/compass:44:in `call'
/var/lib/gems/1.9.1/gems/compass-0.12.7/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: foundation.\A               Load paths:\A                 /home/irvin/git/todowiwi/scss\A                 /var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/blueprint/stylesheets\A                 /var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets\A                 /home/irvin/git/todowiwi/bower_components/foundation/scss\A                 Compass::SpriteImporter\A         on line 2 of /home/irvin/git/todowiwi/scss/app.scss\A \A 1: /home/irvin/git/todowiwi/scss/app.scss"; }
